.gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    grid-area: header;
    /* background-color: #f99; */
}

.nav {
    grid-area: nav;
    background-color: #9f9;
}

.main {
    grid-area: main;
    /* background-color: #99f; */
    width: 100vw;
    display: flex;
    align-items: center;
    /* height: 60vh; */
    /* overflow: hidden; */
}

.footer {
    grid-area: footer;
    background-color: #ff9;
}

.containerApp {
    display: grid;
    height: 100vh;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 5fr 1fr;
}

@media(max-width: 1000px) {
    .containerApp {
        grid-template-areas: 'header' 'nav' 'main' 'footer';
        grid-template-columns: 1fr;
        /* grid-template-rows:  */
    }
}