.gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    grid-area: header;
    /* background-color: #f99; */
    /* height: 55vh; */
}

.navLayout {
    grid-area: navLayout;
    /* background-color: #9f9; */
}

.main {
    grid-area: main;
    /* background-color: #99f; */
    width: 100vw;
    display: flex;
    align-items: center;
    /* height: 60vh; */
    /* overflow: hidden; */
}

.footer {
    grid-area: footer;
    /* height: 20px; */
    /* background-color: #00f; */
}

.containerApp {
    display: grid;
    height: 100vh;
    width: 100vw;
    /* background-color: #f00; */
    grid-template-areas: 'header' 'navLayout' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 5fr 35px;
}


/* @media(max-width: 611px) {
    .containerApp {
        grid-template-rows: 250px 190px 1fr 35px;
    }
}

@media(min-width: 1205px) {
    .containerApp {
        grid-template-rows: 135px 190px 1fr 35px;
    }
} */