<<<<<<< HEAD
#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid blue; */
    width: 400px;
    margin: 10px 0;
}

#containerMaior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
=======
.lightsContainer {
    margin-top: 35px;
    padding: 15px;
    height: 110px;
    background-color: yellow;
    text-align: center;
>>>>>>> recomecando/estilizandoComPositions_Relative_e_Fixed
}